<section class="container">
    <h1>SisCom</h1>
    <mat-list>
        <section class="container-list">
            <button routerLink="/estatistica/clientes" mat-raised-button>Estatisticas clientes</button>
            <button routerLink="/estatistica/vendedores" mat-raised-button>Estatisticas vendedores</button>
            <button routerLink="/estatistica/fornecedores" mat-raised-button>Estatisticas fornecedores</button>
        </section>
        <mat-divider></mat-divider>
        <section class="container-list">
            <button routerLink="/cadastrar/venda" mat-raised-button color="primary">Cadastrar venda</button>
            <button routerLink="/cadastrar/compra" mat-raised-button color="primary">Cadastrar compra</button>
            <button routerLink="/cadastrar/produto" mat-raised-button color="primary">Cadastrar produto</button>
        </section>
        <mat-divider></mat-divider>
        <section class="container-list">
            <button routerLink="/cadastrar/vendedor" mat-raised-button color="accent">Adicionar vendedor</button>
            <button routerLink="/cadastrar/fornecedor" mat-raised-button color="accent">Adicionar fornecedor</button>
            <button routerLink="/cadastrar/cliente" mat-raised-button color="accent">Adicionar cliente</button>
        </section>
        <mat-divider></mat-divider>
        <section class="container-list">
            <button routerLink="/listar/vendedores" mat-raised-button color="warn">Listar vendedores</button>
            <button routerLink="/listar/fornecedores" mat-raised-button color="warn">Listar fornecedores</button>
            <button routerLink="/listar/clientes" mat-raised-button color="warn">Listar clientes</button>
            <button routerLink="/listar/produtos" mat-raised-button color="warn">Listar produtos</button>
            <button routerLink="/listar/vendas" mat-raised-button color="warn">Listar vendas</button>
            <button routerLink="/listar/compras" mat-raised-button color="warn">Listar compras</button>
        </section>
    </mat-list>
</section>