<section class="container">
    <h1>SisCom</h1>
    <section class="container-list">
        <button mat-flat-button color="primary" (click)="navCadastrarVendedor()">Cadastrar novo Vendedor</button>
        <button mat-flat-button color="primary">Cadastrar novo Cliente</button>
        <button mat-flat-button color="primary">Cadastrar novo Fornecedor</button>
        <button mat-flat-button color="accent">Cadastrar Venda</button>
        <button mat-flat-button color="accent">Cadastrar Compra</button>
    </section>
</section>