.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;

  &-list {
    display: grid;
    gap: 8px;
    margin: 16px 0;
    grid-template-columns: repeat(2, 250px);
  }
}
