<app-page-template [goBack]="goBack.bind(this)" title="Listar vendedores">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="meta">
            <mat-header-cell *matHeaderCellDef> Meta </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.metaMensal}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cpf">
            <mat-header-cell *matHeaderCellDef> Cpf </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cpf}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="telefone">
            <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.telefone}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</app-page-template>