.container {
  height: 100%;

  & > * {
    padding: 16px;
  }
}

.container-content-header {
  display: flex;
  align-items: center;

  &__button {
    margin-right: 16px;
  }

  &__title {
    margin: 0;
  }
}
