.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  margin: 0 auto;

  &__subtitle {
    margin: 0 0 16px 0;
  }

  &__form {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 16px 0;
  }

  &__button {
    align-self: flex-end;
  }
}
