<app-page-template [goBack]="goBack.bind(this)" title="Cadastrar Cliente">
    <section class="content">
        <h4 class="content__subtitle">Preencha as informações do cliente:</h4>
        <form [formGroup]="cliente" class="content__form">
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Fulano de tal" formControlName="nome" required>
                <mat-error *ngIf="cliente.controls.nome.invalid">Por favor preencha o nome.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email" required>
                <mat-error *ngIf="cliente.controls.email.invalid">Por favor preencha o email.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>CPF</mat-label>
                <input matInput placeholder="111.111.111-11" formControlName="cpf" required>
                <mat-error *ngIf="cliente.controls.cpf.invalid">Por favor preencha o cpf.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Telefone</mat-label>
                <input matInput placeholder="(99) 99999-9999" formControlName="telefone" required>
                <mat-error *ngIf="cliente.controls.telefone.invalid">Por favor preencha o telefone.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Limite de Crédito</mat-label>
                <input matInput type="number" formControlName="limiteCredito" required>
                <span matPrefix>$&nbsp;</span>
                <span matSuffix>.00</span>
            </mat-form-field>
        </form>
        <button mat-flat-button class="content__button" color="primary" (click)="cadastrarCliente()">Cadastrar</button>
    </section>
</app-page-template>